<div layout="column">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>{{title}}</h2>


        <md-button class="md-icon-button" ng-href="https://github.com/CalogeroMandracchia/ushar">
          <md-icon md-svg-icon="github.svg"></md-icon>
        </md-button>

    </div>
  </md-toolbar>

  <md-content flex>
    <md-list>
      <md-list-item class="md-1-line" ng-repeat="file in files" ng-click="goToPerson(file, $event)" class="noright">
        <div class="md-list-item-text">
          <h3>{{file}}</h3>

          <md-button class="md-icon-button" ng-href="download(file)">
              <md-icon md-svg-icon="download.svg" </md-icon>
            </md-button>  
        </div>

            

        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

</div>
